{% extends "base.twig" %}
{% block title %}Programas asociados a unidades académicas{% endblock %}
{% block head %}
{% endblock %}
{% block contentheader %}Tablas Asignaturas{% endblock %}
{% block content %}

		<section class="content">
			<!-- Main row -->
			<div class="row">
				<!-- Left col -->
				<section class="col-lg-12 connectedSortable">
					<!-- Chat box -->
					<div class="box box-success">
						<div class="box-header">
							<div class="box-tools pull-right" data-toggle="tooltip" title="Status">
							</div>
						</div>
						<div class="box-body chat" id="chat-box">
							<div class="row">
								<div class="col-xs-12">
									<h3 >
				                        Ingeniería Civil Metalúrgica
				                    </h3>
				                    <div >
				                        <table class="table" style="text-align: left;" cellspacing="0">
					                        <colgroup>
					                          <col width="16.66%">
					                          <col width="33.33%">
					                          <col width="16.66%">
					                          <col width="33.33%">
					                        </colgroup>
					                        <tr>
					                          <td><strong>1º Semestre</strong></td>
					                          <td><ul>
					                            <li>Introducción a la Ingeniería</li>
					                            <li>Química y Sociedad</li>
					                            <li>Introducción a la Física</li>
					                            <li>Educación Física I</li>
					                            <li>Matemática I</li>
					                          </ul></td>
					                          <td><strong>2º Semestre</strong></td>
					                          <td><ul>
					                            <li>Física General I</li>
					                            <li>Educación Física II</li>
					                            <li>Matemática II</li>
					                            <li>Programación</li>
					                          </ul></td>
					                        </tr>
					                        <tr>
					                          <td><strong>3º Semestre</strong></td>
					                          <td><ul>
					                            <li>Física General III</li>
					                            <li>Deportes</li>
					                            <li>Matemática III</li>
					                            <li>Laboratorio de Materiales y Procesos</li>
					                            <li>Química Básica</li>
					                            <li>Inglés para Ingeniería I</li>
					                          </ul></td>
					                          <td><strong>4º Semestre</strong></td>
					                          <td><ul>
					                            <li>Física General II</li>
					                            <li>Laboratorio de Metalurgia Extractiva</li>
					                            <li>Matemática IV</li>
					                            <li>Laboratorio de Química Básica</li>
					                            <li>Cálculo de Procesos</li>
					                          </ul></td>
					                        </tr>
					                        <tr>
					                          <td><strong>5º Semestre</strong></td>
					                          <td><ul>
					                            <li>Física General IV</li>
					                            <li>Termodinámica Metalúrgica I</li>
					                            <li>Gráfica en Ingeniería</li>
					                            <li>Química de Materiales</li>
					                            <li>Ciencia de Materiales</li>
					                            <li>Inglés para Ingeniería II</li>
					                          </ul></td>
					                          <td><strong>6º Semestre</strong></td>
					                          <td><ul>
					                            <li>Geología y Mineralogía</li>
					                            <li>Metalurgia Física I</li>
					                            <li>Mecánica de Fluidos</li>
					                            <li>Termodinámica Metalúrgica II</li>
					                            <li>Mecánica de Sólidos</li>
					                          </ul></td>
					                        </tr>
					                        <tr>
					                          <td><strong>7º Semestre</strong></td>
					                          <td><ul>
					                            <li>Beneficio de Minerales</li>
					                            <li>Metalurgia Física II</li>
					                            <li>Cinética Metalúrgica y Diseño de Reactores</li>
					                            <li>Transferencia de Calor</li>
					                            <li>Análisis y Diseño de Experimentos Industriales</li>
					                          </ul></td>
					                          <td><strong>8º Semestre</strong></td>
					                          <td><ul>
					                            <li>Comportamiento Mecánico de Materiales</li>
					                            <li>Hidrometalurgia</li>
					                            <li>Fundición</li>
					                            <li>Laboratorio de Ingeniería Química I</li>
					                            <li>Economía I-A</li>
					                            <li>Humanístico I</li>
					                          </ul></td>
					                        </tr>
					                        <tr>
					                          <td><strong>9º Semestre</strong></td>
					                          <td><ul>
					                            <li>Electrotecnia Básica</li>
					                            <li>Pirometalurgia</li>
					                            <li>Flotación</li>
					                            <li>Soldadura</li>
					                            <li>Gestión de Investigación de Operaciones</li>
					                          </ul></td>
					                          <td><strong>10º Semestre</strong></td>
					                          <td><ul>
					                            <li>Fundamentos de Control Industrial</li>
					                            <li>Humanístico II</li>
					                            <li>Información y Control Financiero</li>
					                            <li>Electivo Especialidad I</li>
					                            <li>Laboratorio de Ingeniería Metalúrgica</li>
					                            <li>Simulación de Procesos Metalúrgicos</li>
					                          </ul></td>
					                        </tr>
					                        <tr>
					                          <td><strong>11º Semestre</strong></td>
					                          <td><ul>
					                            <li>Administración General</li>
					                            <li>Proyecto Metalúrgico I</li>
					                            <li>Electivo I</li>
					                            <li>Humanístico III</li>
					                            <li>Electivo Especialidad II</li>
					                            <li>Taller de Titulación</li>
					                          </ul></td>
					                          <td><strong>12º Semestre</strong></td>
					                          <td><ul>
					                            <li>Administración de la Producción</li>
					                            <li>Memoria</li>
					                            <li>Electivo II</li>
					                            <li>Proyecto Metalúrgico II</li>
					                          </ul></td>
					                        </tr>
					                      </table>
					                </div>
								</div>
										<!--div class="row">
											<div class="col-xs-2">
												 <button class="btn btn-block btn-primary" id="exportar_tabla"><i class="fa fa-table"></i> Exportar Tabla</button>
											</div>
										</div-->
							</div>
									
									
						</div><!-- /.box (chat box) -->
					</div>
				</section>
			</div><!-- /.row (main row) -->
		</section><!-- /.content -->
		<div style="font-size:0;height:330px;"></div>
{% endblock %}
{% block scripts %}
<script src="{{ baseUrl() }}/js/xlsx.core.min.js"></script>
<script src="{{ baseUrl() }}/js/Blob.js"  type="text/javascript"></script>
<script src="{{ baseUrl() }}/js/FileSaver.js"  type="text/javascript"></script>
<script src="{{ baseUrl() }}/js/tabla.js"  type="text/javascript"></script>
<script src="{{ baseUrl() }}/js/bootstrap-datepicker.js"></script>
<script src="{{ baseUrl() }}/js/jquery.table2excel.min.js"></script>

{% endblock %}
