{% extends "base.twig" %}
{% block title %}M2 Instalaciones Administrativas{% endblock %}
{% block contentheader %}M2 Instalaciones Administrativas{% endblock %}
{% block content %}

		<section class="content">
			<div class="row">
				<section class="col-lg-12 connectedSortable">
					<div class="box box-success">

					
            <br>
            <h4><b><center>Instalaciones Administrativas</center></b></h4>
            <br>
                <div class="col-xs-12">
                  <canvas id="canvas" height="150" width="500"></canvas>
                </div>
                <br>

						<div class="box-header">

             <div class="col-xs-4" style="margin-left: 400px;">
                    <button class="btn btn-block btn-primary" id="exportar_grafico" style="margin-top: 20px;"><i class="fa fa-area-chart"></i> Exportar Gr치fico</button>
                  </div>

				  				<div class="col-lg-12">
									<br>

									<table data-count="{{ count }}" id="publicaciones" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>A침o</th>
												<th>Campus</th>
												<th>Metros cuadrados</th>
												<th>Tipo Instalaci칩n</th>
											</tr>
										</thead>
											<tbody>
												{% for p in datos %}
													<tr>
														<td>{{ p.anio }} </td>
														<td>{{ p.campus }}</td>
														<td>{{ p.metros_cuadrados }}</td>
														<td>{{ p.tipo }}</td>
													</tr>
												{% endfor %}
										</tbody>
									</table>

									<div class="row">
											<div class="col-xs-4">
												 <button class="btn btn-block btn-primary" id="exportar_tabla" style="margin-left: 400px;"><i class="fa fa-table"></i> Exportar Tabla</button>
											</div>
									</div>
								</div>

						</div>
					</div>
					</div>
			</div>
		</section><!-- /.content -->

     <input id="csrf" type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
{% endblock %}
{% block scripts %}

<script src="{{ baseUrl() }}/js/ChartNew.js"></script>
<script src="{{ baseUrl() }}/js/xlsx.core.min.js"></script>
<script src="{{ baseUrl() }}/js/Blob.js"  type="text/javascript"></script>
<script src="{{ baseUrl() }}/js/FileSaver.js"  type="text/javascript"></script>
<script src="{{ baseUrl() }}/js/tabla.js"  type="text/javascript"></script>
<script src="{{ baseUrl() }}/js/jquery.table2excel.min.js"></script>
<script src="{{ baseUrl() }}/js/jquery.redirect.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>


<script>

$(document).ready(function () {

	var data = {
        csrf_token: $("#csrf").val(),
    }

	 $.ajax({
            type: "get",
            url:"/ajax/buscarM2Administrativos",
            data: data,
            success: function(val){

            	datos = jQuery.parseJSON(val);
                MostrarGrafico(datos);
                
            }
     });

     return false;
});

function MostrarGrafico(data){

  dataCC =[];
  for (i = 0; i < datos.length; i++) 
  { 
    dataCC[i] = datos[i].m2;
  }

  anios =[];
  for (i = 0; i < datos.length; i++) 
  { 
    anios[i] = datos[i].anio;
  }
  label = ['Administrativas'];

    var myBarChart1;
    var data1 = {
      labels: anios,
      datasets: [
      {
            label: label,
            fillColor: "#ff9c43",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: dataCC
        }
      ],
    };

    var ctx1 = $("#canvas").get(0).getContext("2d");
    myBarChart1 = new Chart(ctx1).Bar(data1, {
            responsive: true,
            bezierCurve : false,
            datasetFill : false,
          
            legend : true,
            savePng : true,
            savePngOutput: "Save",
            xAxisLabel: "A침os",
            yAxisLabel: "Metros Cuadrados",
            annotateDisplay : true,
            annotateLabel: "<%= v1 %> <%= v2 %> - <%= v3 %>%",
  });

}

$("#exportar_grafico").on('click', function(){
  $.ajax({
    url:'../api/save_canvas',
    type:'POST',
    data:{
      data:document.getElementById("canvas").toDataURL("image/png"),
      csrf_token: $("#csrf").val()
    }
  }).success(function(data){
    var a = document.createElement('a');
    a.href = "../img/grafico.png";
    a.download = "Instalaciones_Administrativas.png";
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
  });
});

$("#buscar").on('click',function(){
		$.redirect("../programa/listar-publicaciones",{ s: $('#s').val()}, 'GET');
});
$("#s").keypress(function(event){
	var keycode = (event.keyCode ? event.keyCode : event.which);
	if(keycode == '13'){
		$.redirect("../programa/listar-publicaciones",{ s: $('#s').val()}, 'GET');
	}
	event.stopPropagation();
});

$("#exportar_tabla").on('click', function(){
		window.location.href = "{{ baseUrl() }}/excelListarM2Administrativos";
});
</script>
{% endblock %}
