{% extends "base.twig" %}
{% block title %}Tasa egreso por cohorte{% endblock %}
{% block contentheader %}Tasa Egreso por Cohorte{% endblock %}
{% block content %}
<section class="content">	
	<div class="row">		
		<section class="col-lg-12 connectedSortable">
			<div class="box box-success">
				<div class="box-header">
					<div class="box-tools pull-right" data-toggle="tooltip" title="Status">
					</div>
				</div>
				<div class="box-body chat" id="chat-box">
					<!--div class="row">
						<div class="col-xs-12">
							<canvas id="canvas1" height="150" width="500"></canvas>	
						</div>
						<div class="col-xs-2 col-sm-3">
							 <button class="btn btn-block btn-primary" id="exportar_grafico1"><i class="fa fa-area-chart"></i> Exportar Gráfico</button>
							 <br>
						</div>
					</div-->
					<div class="row">
						<div class="col-xs-12">
							<table class="table table-bordered table-hover" id="tabla">
								<thead>
									<tr>
										<th colspan="8">TASA DE EGRESO POR COHORTE</th>
									</tr>
									<tr>
										<th colspan="8">Casa Central y Campus Santiago</th>
									</tr>
									<tr>
										<th>Comuna</th>
										<th>Jornada</th>
										<th>Modalidad</th>
										<th>2006</th>
										<th>2007</th>
										<th>2008</th>
										<th>2009</th>
										<th>2010</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Valparaíso</td>
										<td>Diurna</td>
										<td>Presencial</td>
										<td>{{tasa_egreso.anio_0}}</td>
										<td>{{tasa_egreso.anio_1}}</td>
										<td>{{tasa_egreso.anio_2}}</td>
										<td>{{tasa_egreso.anio_3}}</td>
										<td>{{tasa_egreso.anio_4}}</td>
									</tr>
									<tr>
										<td colspan="3">PROMERIO DEL AÑO EN LA SEDE</td>
										<td id="anio_0">{{tasa_egreso.anio_0}}</td>
										<td id="anio_1">{{tasa_egreso.anio_1}}</td>
										<td id="anio_2">{{tasa_egreso.anio_2}}</td>
										<td id="anio_3">{{tasa_egreso.anio_3}}</td>
										<td id="anio_4">{{tasa_egreso.anio_4}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-xs-12">
							<strong>La carrera no tiene calidad de egreso, por tanto, esta tabla no aplica.</strong>
						</div>
						<!--div class="col-xs-2 col-sm-3">
							<button class="btn btn-block btn-primary" id="exportar_tabla"><i class="fa fa-table"></i> Exportar Tabla</button>
						</div-->
					</div>
				</div>
			</div>
		</section>
	</div>
</section>
<input id="csrf" type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
{% endblock %}
{% block scripts %}
<script src="{{ baseUrl() }}/js/xlsx.core.min.js"></script>
<script src="{{ baseUrl() }}/js/Blob.js"  type="text/javascript"></script>
<script src="{{ baseUrl() }}/js/FileSaver.js"  type="text/javascript"></script>
<script src="{{ baseUrl() }}/js/tabla.js"  type="text/javascript"></script>
<script src="{{ baseUrl() }}/js/bootstrap-datepicker.js"></script>
<script src="{{ baseUrl() }}/js/jquery.table2excel.js"></script>
<script src="{{ baseUrl() }}/js/ChartNew.js"></script>
<script>
$("#exportar_tabla").on('click', function(){
		/*$("#tabla").table2excel({
			exclude: ".noExl",
			name: "Worksheet Name",
			filename: "Estudiantes programas doctorado real.xls"


		});*/
		export_table_to_excel('tabla', 'Estudiantes programas doctorado real');
});
$("#exportar_tabla2").on('click', function(){
		/*$("#tabla2").table2excel({
			exclude: ".noExl",
			name: "Worksheet Name",
			filename: "Estudiantes programas doctorado proyectado.xls"

		});*/
		export_table_to_excel('tabla2', 'Estudiantes programas doctorado proyectado');
});

$("#exportar_grafico").on('click', function(){
		$("#canvas").mousedown();
});
</script>
<script>
/* Canvas 1
var myBarChart1;
var anio0 = $('#anio_0').html().slice(0,-1);
var anio1 = $('#anio_1').html().slice(0,-1);
var anio2 = $('#anio_2').html().slice(0,-1);
var anio3 = $('#anio_3').html().slice(0,-1);
var anio4 = $('#anio_4').html().slice(0,-1);
var data1 = {
	labels: ["2006","2007","2008","2009","2010"],
	datasets: [
		{
            label: "Tasa Egreso",
            fillColor: "#ff9c43",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [anio0,anio1,anio2,anio3,anio4]
        }
 ]

};

var ctx1 = $("#canvas1").get(0).getContext("2d");
myBarChart1 = new Chart(ctx1).Bar(data1, {
responsive: true,
bezierCurve : false,
datasetFill : false,
/* El objeto 'scales' en las versiones 2.x es muy distinto por lo cual este codigo quedará obsoleto. Para version 2.x revisar la documentación oficial. 
*/
// override a objeto scale
/*
scaleOverride : true,
scaleSteps : 5, 		// cantidad de intervalos
scaleStepWidth : 20, 	// intervalo minimo
scaleStartValue : 0 , 	// punto de partida
// fin override a objeto scale
legend : true,
savePng : true,
savePngOutput: "Save",
xAxisLabel: "Años",
yAxisLabel: "Tasa Egreso por Cohorte",
annotateDisplay : true,
annotateLabel: "<%= v1 %> <%= v2 %> - <%= v3 %>%",
});

$("#exportar_grafico1").on('click', function(){
	$.ajax({
	url:'../api/save_canvas',
	type:'POST',
	data:{
			data:document.getElementById("canvas1").toDataURL("image/png"),
			csrf_token: $("#csrf").val()
	}

}).success(function(data){
	var a = document.createElement('a');
	a.href = "../img/grafico.png";
	a.download = "grafico.png";
	document.body.appendChild(a);
	a.click();
	document.body.removeChild(a);
});
});
*/
</script>
{% endblock %}
